.messageList {
    position:                                       absolute;
    display:                                        block;
    top:                                            45px;
    bottom:                                         8%;
    width:                                          100%;
    overflow-y:                                     scroll;
}