.register {
    position:                                   absolute;
    height:                                     100%;
    width:                                      100%;
    background-image:                           url("../../assets/login_register/background.jpg");
    background-size:                            auto 100%;
    background-repeat:                          no-repeat;
    background-position:                        -300px;

}
//整个sign up框
.signup {
    display:                                    flex;
    flex-direction:                             column;
    align-items:                                center;
    background-color:                           rgba(255,255,255,0.2);
    width:                                      80%;
    margin-left:                                10%;
    border-radius:                              40px;
    position:                                   absolute;
    top:                                        13%;
    height:                                     75%;
    color:                                      whitesmoke;
    padding:                                    20px 0px 0px 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    h1 {//sign up字样
        font-weight:                            lighter;
        letter-spacing:                         3px;
        text-align:                             center;
        height:                                 100px;
        font-size:                              250%;
    }
    p {
        color:                                  whitesmoke;
        text-shadow:                            0.4px 1px 2px #A5A5A5;
        height:                                 5%;
        margin:                                 10px 0px 0px 0px;
    }
}
//三个输入框的集合
.inputs {
    text-align:                                 center;
    height:                                     60%;
}
//输入框
.signup input {
    width:                                      70%;
    height:                                     2.5rem;
    border:                                     none;
    border-bottom:                              1px solid whitesmoke;
    outline:                                    none;
    background:                                 none;
    margin:                                     5px 0px 5px 0px;
    color:                                      whitesmoke;
}

.signup ::-webkit-input-placeholder {
    color:                                      whitesmoke;
}

.errmsg {
    color:                                      red;
}