.header {
    background-color:                               rgb(246, 245, 245);
    height:                                         8%;
    width:                                          100%;
    position:                                       fixed;
    font-size:                                      70%;
    display:                                        flex;
    flex-direction:                                 row;
    align-items:                                    center;
}