* {
    margin:                                         0;
    padding:                                        0;
}

.all {
    position:                                       absolute;
    top:                                            45px;
    bottom:                                         8%;
    width:                                          100%;
    display:                                        flex;
    flex-direction:                                 row;
    overflow-y:                                     scroll;
}
.indexandname {
    display:                                        flex;
    flex-direction:                                 column;
    width:                                          98%;
}
.indexs {
    width:                                          100%;
    background-color:                               rgb(237, 237, 237);
    color:                                          rgb(136, 136, 136);
    font-weight:                                    lighter;
    font-size:                                      70%;
    padding:                                        5px 0px 5px 5px;
}
.names {
    height:                                         45px;
    display:                                        flex;
    align-items:                                    center;
    border-bottom:                                  1px solid rgb(237, 237, 237);
}
.contacts {
    width:                                          100%;
}
.letters {
    display:                                        flex;
    flex-direction:                                 column;
    position:                                       fixed;
    top:                                            30%;;
    right:                                          3px;
    span {
        margin:                                     1px 0px 0px 1px;
    }
}