.subscription {
    background-color:                           rgb(237, 237, 237);
}
//常读的订阅号消息一整栏
.usually {
    top:                                        45px;
    width:                                      100%;
    position:                                   absolute;
    font-size:                                  75%;
    color:                                      rgb(120, 119, 123);
    p {//常读的订阅号消息文本
        margin:                                 5px 0px 15px 5px;
    }
}
//常度订阅号的滚动栏
.usually_icons {
    display:                                    flex;
    width:                                      96%;
    margin-left:                                2%;
    overflow-x:                                 scroll;
    white-space:                                nowrap;
    div {
        width:                                  80px;
        margin:                                 0px 5px 0px 5px;
        display:                                flex;
        flex-direction:                         column;
        align-items:                            center;
    }
    p {
        width:                                  80px;
        text-overflow:                          ellipsis;
        overflow:                               hidden;
        text-align:                             center;
    }
}
//常读订阅号图标
.usually_icons img {
    border-radius:                              50%;
}